{% extends 'base.html' %}
{% block title %}Incident Report{% endblock %}

{% block body %}
	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="operator-form.html">NESIMS-911</a>
		</li>
		<li class="breadcrumb-item active">
			Incident Report Form
		</li>
	</ol>

    <!--Create Incident Report Form-->
	<div class="card card-register mx-auto mt-5">
		<div class="card-header">Incident Report Detail</div>
		<div class="card-body">
			<h3>Caller Phone Number:</h3><p> {{ incidentreport.phone_number  }}</p>
			<h3>NRIC:</h3><p> {{ incidentreport.nric  }}</p>
			<h3>Description of Incident:</h3><p> {{ incidentreport.detail  }}</p>
			<h3>Location of Incident:</h3><p> {{ incidentreport.location  }}</p>
			<h3>Emergency Level:</h3><p> {{ incidentreport.emergency_level  }}</p>
		</div>
	</div>

{% endblock body %}
